<div id="site_title">
	<h1 style="text-align:center"> Notes List </h1>
		</div>

<div id="header_image"></div> 
<div id="main">
	
	<div class="post">

		<div class="post_body">
			<div id="write_content_here">

			<ol>
			   <%= render :partial => 'note',:collection=>@notes %>
			</ol>

		</div>
		</div>

	</div>

</div>
