// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.welcome{

	background-image:url("/assets/indexbg.gif");
	overflow:hidden;
	
	img {
		border:0 none;
	}
	div {
		height:610px;
		left:50%;
		margin:-305px 0 0 -373px;
		position:absolute;
		top:50%;
		width:746px;
	}
	p {
		font-family:"Bitstream Charter","URW Palladio L",Palatino,"Palatino Linotype","Hoefler Text",Georgia,"Book Antiqua",Times,"Times New Roman",serif;
		font-size:16px;
		margin-top:-48px;
		text-align:center;
	}
	a {
		color:#000000;
		text-decoration:none;
	}
	a:hover {
		text-decoration:underline;
	}
	.zhongwen{
	  font-family:"Kai","楷体_GB2312";
  
	}

}